---
import Layout from '../../../layouts/Layout.astro';
import { getCollection, getEntries, getEntry } from 'astro:content';

export async function getStaticPaths() {
  const trips = await getCollection('trips');
  const tripsPaths = new Array();
  trips.forEach(trip => {
    const path = trip.id.split('/');
    let t = {
      'params': {
        'creator':path[0],
        'slug':path[1]
      },
      'props': {
        'trip':trip
      }
    }
    tripsPaths.push(t);
  })
  
  return tripsPaths;
}

const { creator } = Astro.params;
const { trip } = Astro.props;
const stops = await getEntries(trip.data.stops);
const creatorData = await getEntry('creators', creator);
const tripDate = new Date(trip.data.postdate.getTime() + (6*60*60*1000));

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
	timezone: "America/Chicago"
};

const pageTitle = trip.data.name + " | " + creatorData.data.name;


---

<Layout title={pageTitle}>
  <div class="trip-page">
    <div>
      <h1>{trip.data.name}</h1>
      <h2>{creatorData.data.name}</h2>
      <p>{tripDate.toLocaleDateString('en-US', dateOptions)}</p>
      <p class="locations">
        {stops.map(stop => (
          // @ts-ignore
          <span>{stop.data.name}</span>
        ))}
      </p>
    </div>
    <div>
      {trip.data.source_id && <img src=`https://img.youtube.com/vi/${trip.data.source_id}/maxresdefault.jpg` />}
    </div>
  </div>
  

</Layout>

<style>
  .trip-page {
    display: grid;
  }
  .locations span {
    display: inline-block;
  }
   .locations span:not(:last-child):after {
      content: '➡';
      margin: 0 5px;
  }
</style>