---
import Layout from '../../../layouts/Layout.astro';
import TripCard from '../../../components/TripCard.astro';
import { getCollection, getEntries } from 'astro:content';

export async function getStaticPaths() {
  const creators = await getCollection('creators');
  return creators.map(entry => ({
    params: { creator: entry.id }, props: { entry },
  }));
}
const { entry } = Astro.props;
const trips = await getEntries(entry.data.trips);
---

<Layout title={entry.data.name}>
  <h1>{entry.data.name}</h1>
  <div class="trips-listing">
    {trips.map(trip => (
      <TripCard
        trip_id={trip.id},
        title={trip.data.name},
        youtube_id={trip.data.source_id},
        date={trip.data.postdate}
      />
    ))}
  </div>
</Layout>